<title>/</title>
<table><tr><td><a href="/dir?open=//.">[.]</a></td></tr><tr><td><a href="/dir?open=//..">[..]</a></td></tr><tr><td><a href="/dir?open=//autotools.htm"> autotools.htm</a></td></tr></table>