<ol class='xoxo'>
  <li>COMMENT -*- mode: org; -*-
    <ol>
      <li>HEAD COMMENT</li>
      <li>COMMENT Emacs Commands</li>
    </ol>
  </li>
  <li>Ministerial Code - Northern Ireland Executive
    <ol>
      <li>Introduction
	<ol>
	  <li>Preamble</li>
	  <li>Pledge of Office</li>
	  <li>Code of Conduct</li>
	  <li>Principals of Public Life</li>
	</ol>
      </li>
      <li>The Executive Committee</li>
      <li>The North-South Council
	<ol>
	  <li>Work of the Ministerial Council, North-South</li>
	</ol>
      </li>
      <li>The British-Irish Council</li>
    </ol>
  </li>
</ol>
